In [1]:
import torch 
import matplotlib.pyplot as plt
import pandas as pd

What needs to be done:
Split data into train and test
Build the model
...

In [54]:
math_file = pd.read_csv("Dataset\student-mat.csv")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\octav\AppData\Local\Temp\ipykernel_21692\351064590.py:1: SyntaxWarning: invalid escape sequence '\s'
  math_file = pd.read_csv("Dataset\student-mat.csv")

In [63]:
math = pd.DataFrame(math_file)

In [64]:
math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [66]:
math['school'].unique()
math['school']

0      GP
1      GP
2      GP
3      GP
4      GP
       ..
390    MS
391    MS
392    MS
393    MS
394    MS
Name: school, Length: 395, dtype: object

In [67]:
math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [68]:
math.describe

<bound method NDFrame.describe of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [70]:
binary_columns = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
# Apply the mapping to all the columns at once
math[binary_columns] = math[binary_columns].applymap({'yes': 1, 'no': 0}.get)

C:\Users\octav\AppData\Local\Temp\ipykernel_21692\1140950220.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  math[binary_columns] = math[binary_columns].applymap({'yes': 1, 'no': 0}.get)

In [108]:
math['Pstatus'] = math['Pstatus'].replace({'T':1, 'A':0})

KeyError: 'Pstatus '

In [71]:
math[binary_columns]

     schoolsup  famsup  paid  activities  nursery  higher  internet  romantic
0            1       0     0           0        1       1         0         0
1            0       1     0           0        0       1         1         0
2            1       0     1           0        1       1         1         0
3            0       1     1           1        1       1         1         1
4            0       1     1           0        1       1         0         0
..         ...     ...   ...         ...      ...     ...       ...       ...
390          0       1     1           0        1       1         0         0
391          0       0     0           0        0       1         1         0
392          0       0     0           0        0       1         0         0
393          0       0     0           0        0       1         1         0
394          0       0     0           0        1       1         1         0

[395 rows x 8 columns]

In [82]:
# List of columns to drop
columns_to_drop = [ 'health', 'freetime', 'goout', 'Dalc', 'Walc', 'absences']

# Drop the columns
math = math.drop(columns=columns_to_drop)

In [89]:
math['famsize'] = math['famsize'].replace({'GT3': 1, 'LE3': 0})

C:\Users\octav\AppData\Local\Temp\ipykernel_21692\369839254.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  math['famsize'] = math['famsize'].replace({'GT3': 1, 'LE3': 0})

In [91]:
math = pd.get_dummies(math, columns=['Mjob', 'Fjob', 'reason', 'guardian'])

In [105]:
multi_value_columns = ['Fjob_other', 'Fjob_services', 'Fjob_teacher', 
                       'reason_course', 'reason_home', 'reason_other', 
                       'reason_reputation', 'guardian_father', 
                       'guardian_mother', 'guardian_other']

# Check the unique values in the columns to inspect their types
print(math[multi_value_columns].nunique())
math[multi_value_columns] = math[multi_value_columns].astype(int)
# If the values are boolean (True/False), convert them to 1 and 0
math[multi_value_columns] = math[multi_value_columns].replace({'True': 1, 'False': 0})

Fjob_other           2
Fjob_services        2
Fjob_teacher         2
reason_course        2
reason_home          2
reason_other         2
reason_reputation    2
guardian_father      2
guardian_mother      2
guardian_other       2
dtype: int64

In [106]:
math.head()

,age,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,18,1,A,4,4,2,2,0,1,0,...,0,0,1,1,0,0,0,0,1,0
1,17,1,T,1,1,1,2,0,0,1,...,1,0,0,1,0,0,0,1,0,0
2,15,0,T,1,1,1,2,3,1,0,...,1,0,0,0,0,1,0,0,1,0
3,15,1,T,4,2,1,3,0,0,1,...,0,1,0,0,1,0,0,0,1,0
4,16,1,T,3,3,1,2,0,0,1,...,1,0,0,0,1,0,0,1,0,0

In [107]:
import seaborn as sns
cor_matrix  = math.corr()

ValueError: could not convert string to float: 'A'

In [ ]:
sns.heatmap(cor_matrix,annot=True)

In [20]:
train_split = int(0.8*len(mth))
X_train,y_train =

In [6]:
mth.columns

Index(['school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3'], dtype='object')

NameError: name 'torch' is not defined